<h1> SU CARRITO DE COMPRAS TIENE:</h1>
<div id="cartContainer">
       
</div>
<div id="btnContainer">
    
</div>
<a href="/products">Seguir comprando</a>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/carts.js"></script>
