<h1> SU CARRITO DE COMPRAS TIENE:</h1>
<div id="cartContainer">
    {{#each prod}}
        <div>
            <div>
                <ul>
                    <li> ID: {{this.id}} </li>
                    <li> Description: {{this.quantity}} </li>                    
                </ul>
            </div>
        </div>
    {{/each}}
    
</div>