<h1> !!! BIENVENIDO A LA TIENDA DE COMERCIO ¡¡¡</h1>
<nav class="navbar">
    <div class=" navitems d-grid gap-2 d-md-block">
        <a href="/login"> <button class="btn btn-primary  mt-2">Login</button></a>
        <a href="/register"> <button class="btn btn-primary  mt-2">Register</button> </a>
    </div>
</nav>

<div>
    <img src="https://img.freepik.com/vector-gratis/comercio-electronico-tienda-venta-electronica-compras-concepto-negocio-iconos-arte-linea-plana_126523-2187.jpg?w=996&t=st=1686702073~exp=1686702673~hmac=d83b6ec977eaacd18378e1635d1c8b709fbd9ba2651261da13371d97ba8b8477" alt="Imagen ecommerce">
</div>