<h1> Formulario LOGIN !!!!!</h1>
<div class="container">

    <div class="formContainer">
        <form class="form" method="post" action="/api/sessions/login" >
            <div class="InputContainer">
                <label > Nombre de Usuario: </label>
                <input type="text" placeholder="Escriba aqui su nombre" name="email">
            </div>
            <div class="InputContainer">
                <label> Contraseña: </label>
                <input type="password" placeholder="Escriba aqui su contraseña" name="password">             
            </div>
            <div class="butonContainer">
                <button type="submit">Login</button>
                <a href="/register"> Registrate</a>
            </div>
        </form>
    </div>
    
</div>
