<h1> Formulario LOGIN</h1>
<div>
    <form method="post" action="/api/sessions/login">
        <div>
            <input type="text" placeholder="Escriba aqui su nombre" name="email">
        </div>
        <div>
            <input type="password" placeholder="Escriba aqui su contraseña" name="password">
        </div>
        <button type="submit">Login</button>
    </form>
</div>