
<h1> Formulario LOGIN !!!!!</h1>
<div class="container">

    <div class="formContainer">
        <form class="formLogin" method="post" action="/api/sessions/login">
            <div class="InputContainer">
                <label > Nombre de Usuario: </label>
                <input type="text" placeholder="Escriba aqui su nombre" name="email">
            </div>
            <div class="InputContainer">
                <label> Contraseña: </label>
                <input type="password" placeholder="Escriba aqui su contraseña" name="password">             
            </div>
            <div class="butonContainer">
                <button type="submit">Login</button>
                
            </div>
        </form>
    </div>
    <div class="buttonContainer">
        <a href="/register">
            <button>Registrarse</button>
        </a>
    </div>
    <div class="buttonContainer">
        <a href="/api/sessions/github">
            <button> Login with  Github</button>
        </a>
    </div>
</div>
