<h1> BIENVENIDO A LA SECCION DE CAMBIO DE CONTRASEÑA</h1>

<div>
    <div class="formContainer">
        <form class="formRestore" method="post" action="/api/sessions/recovery?token={{token}}">
            <div class="InputContainer">
                <label > Nombre de Usuario: </label>
                <input type="text" placeholder="Escriba aqui su email" name="email">
            </div>
            <div class="InputContainer">
                <label > Nueva contraseña: </label>
                <input type="password" placeholder="Escriba aqui su Nueva contraseña" name="password">
            </div>
            
            <div class="butonContainer">
                <button type="submit">Send Recovery</button>
            </div>
        </form>
    </div>
</div>