<h1> Seccion PROFILE</h1>
<div>
    <h4> Bienvenido {{dataUser.first_name}}</h4>
    <h4> Tu categoria de usuario es: {{dataUser.role}}</h4>
</div>


<div>
   <a href="/profile/create"><button> Create Product </button></a>
</div>
<div>
    <a href="/profile/delete"><button> Delete Product</button></a>
</div>
<div>
    <a href="/products"><button> Volver</button></a>
</div>