<h1> Seccion PROFILE</h1>
<div>
    <h4> Bienvenido {{dataTransfer}}</h4>
    <h4> You are an: {{dataTransfer}}</h4>
</div>


<div>
   <a href="/profile/create"><button> Create Product </button></a>
</div>
<div>
    <a href="/profile/delete"><button> Delete Product</button></a>
</div>