<h1> BIENVENIDO A LA SECCION DE RECUPERACION DE CONTRASEÑA</h1>

<div>
    <div class="formContainer">
        <form class="formRestore" method="post" action="/api/sessions/restore">
            <div class="InputContainer">
                <label > Nombre de Usuario: </label>
                <input type="text" placeholder="Escriba aqui su email" name="email">
            </div>
            <div class="butonContainer">
                <button type="submit">Send Recovery</button>
            </div>
        </form>
    </div>
</div>
<div>
    <div>
        <a href="/">Home</a>
    </div>
</div>