<h1> SU TICKET DE COMPRA ES: </h1>
<div id="ticketContainer">
    
    <ul>
        <li> <b> Nº de Ticket:</b>  {{code}}</li>
        <li> <b> Fecha de Compra:</b>  {{purchase_datetime}}</li>
        <li> <b>Monto total de la Factura:</b>  {{amount}}</li>
        <li> <b>Titular de la factura:</b> {{purchaser}}</li>
    </ul>
   
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/tickets.js"></script>